:root{
    --primary-color: orange;
    --secondary-color: white;
    --primary-text-color: white;
    --secondary-text-color: black;
    
  }
/* button styles */
.btn{
    font-weight: 400;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  .btn:hover{
    transform: translateY(-4px);
  }
  .btn--solid{
    background-color: var(--primary-color);
    color: var(--primary-text-color);
    border: none;
  }
  .btn--outline{
    background-color: var(--secondary-color);
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
  }
  .btn--medium{
    padding: 10px 20px;
    font-size: 18px;
  }
 