:root{
    --primary-color: #231f20;
    --secondary-color: white;
    --primary-text-color: white;
    --secondary-text-color: black;
    --danger-color: rgb(177, 2, 2);
    
  }
/* button styles */
.btn{
    font-weight: 400;
    border-radius: 20px;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  .btn:hover{
    transform: translateY(-2px);
  }
  .btn--solid{
    background-color: var(--primary-color);
    color: var(--primary-text-color);
    border: none;
  }
  .btn--outline{
    background-color: var(--secondary-color);
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
  }
  .btn--danger{
    background-color: var(--danger-color);
    color: var(--primary-text-color);
    border: none;
  }
  .btn--medium{
    padding: 10px 20px;
    font-size: 18px;
  }
  .btn--small{
    padding: 5px 10px;
    font-size: 12px;
  }
 