.dashboardNav{
  background-color: rgb(41, 40, 40);
  display: flex;
  justify-content: space-around;
  
}

.nav-links li{
    display: inline; 
    color: white !important;
   
    
}

.nav-links{
    
    
}



