.layout_div{
    margin: 0;
    padding: 0;
}
.layout_title{
    text-align: center;
}
.form_div{
    width: 90%;
    margin: auto;
}
.input-div{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 15px 0px;
}
.input-div > label{
    margin-bottom: 0.8rem;
}
.login_form_div > form{
    width: 95%;
    margin: auto;
}
.login_form_div{
    margin-top: 5rem;
}
