body{
    background-color: rgb(224, 178, 224);
}
.layout_div{
    margin: 0;
    padding: 1.5rem;
}
.layout_title{
    text-align: center;
}
.form_div{
    width: 90%;
    margin: auto;
}
.input-div{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 15px 0px;
}
.input-div > label{
    margin-bottom: 0.8rem;
}
.input-div > input, #about_section{
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
}
.login_form_div > form{
    width: 95%;
    margin: auto;
}
.login_form_div{
    margin-top: 5rem;
    padding: 1.5rem;
}
.login_form_div > form > div > h3{
    margin-bottom: 2rem;
}
#about_section{
    height: 30vh;
}
.login {
    width: 90%;
    max-width: 40rem;
    margin: 2rem auto;
}
.insideForm{
    width: 90%;
    max-width: 50rem;
    margin: 2rem auto;
}
.control input:focus {
    outline: none;
    border-color: #4f005f;
    background: #f6dbfc;
}

.control.invalid input {
    border-color: red;
    background: #fbdada;
}
.login-signup-span{
    margin: 20px 0 5px 0;
}
.login-signup-span > span > button{
    margin-left: 5px;
}

.successful-alert{
    color: green;
    border: 1px solid green;
    padding: 15px 0 15px 0;
    margin: 0;
    background-color: #fdf6f6;
}
.unsuccessful-alert{
    color: #c20707;
    border: 1px solid #c20707;
    padding: 15px 0 15px 0;
    margin: 0;
    background-color: #fdf6f6;
}
.isLoading{
    color: rgb(165, 54, 165);
    padding: 10px 0 10px 0;
    margin: 1px;  
}
@media only screen and (max-width: 780px) {
    .insideForm{
        width: 98%;
        margin: 2rem auto;
    }
    
}

