body{
    background-color: brown;
}
.layout_div{
    margin: 0;
    padding: 1.5rem;
}
.layout_title{
    text-align: center;
}
.form_div{
    width: 90%;
    margin: auto;
}
.input-div{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 15px 0px;
}
.input-div > label{
    margin-bottom: 0.8rem;
}
.input-div > input, #about_section{
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
}
.login_form_div > form{
    width: 95%;
    margin: auto;
}
.login_form_div{
    margin-top: 5rem;
    padding: 1.5rem;
    
}
#about_section{
    height: 30vh;
}
.login {
    width: 90%;
    max-width: 40rem;
    margin: 2rem auto;
}
.insideForm{
    width: 90%;
    max-width: 50rem;
    margin: 2rem auto;
}

/* .control {
    margin: 1rem 0;
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

.control label, .control input {
    display: block;
}

.control label {
    font-weight: bold;
    flex: 1;
    color: #464646;
    margin-bottom: 0.5rem;
}

.control input {
    flex: 3;
    font: inherit;
    padding: 0.35rem 0.35rem;
    border-radius: 6px;
    border: 1px solid #ccc;
} */

.control input:focus {
    outline: none;
    border-color: #4f005f;
    background: #f6dbfc;
}

.control.invalid input {
    border-color: red;
    background: #fbdada;
}

/* @media (min-width: 768px) {
    .control {
        align-items: center;
        flex-direction: row;
    }

} */

