:root {
  --primary-color: #231f20;
  --secondary-color: white;
  --primary-text-color: white;
  --secondary-text-color: black;
}
.tabula-data{
    margin: 50px 10px;
}

.tabula-data > table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  overflow: auto;
}

th {
  height: 50px;
  background-color: #231f20;
  color: white;
}
td {
  height: 30px;
  vertical-align: bottom;
}
th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
tr:hover {
  background-color: #f5f5f5;
}
td > button > a > a{
  color: white !important;
  text-decoration: none;
}

