:root {
  --primary-color: #231f20;
  --secondary-color: white;
  --primary-text-color: white;
  --secondary-text-color: black;
}
.tabula-data{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 1.7em;
  width: 95%;
  margin: 50px auto;
}
.un-ordered-list{
  padding: 10px;
  list-style-type: none;
  text-align: left;
}
.un-ordered-list > li{
  padding: 0.8rem;
}
.un-ordered-list > li > a{
  text-decoration: none;
}
.list-title{
  color: var(--primary-color);
  font-weight: bold;
}
@media only screen and (max-width: 780px){
  .tabula-data{
    width: 98%;
    margin: 40px auto;
  }
}

